body {
        background-image: url('https://ftp.bmp.ovh/imgs/2020/08/2313e2fc1dac9dd3.jpeg');
        background-repeat:repeat;
        background-attachment: fixed;
        background-size: 100%;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.9;
  color: #6c757d; }
.white-box {padding: 20px;   
background: #fff;
border:2px solid;    
border-top: none; 
border-radius:25px;}
